.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    color: grey;
    border-bottom: #f5f5f5 1px solid;
    &__logo {
        width: 70px;
        height: 60px;
        margin-left: 40px;
        &__img {
            width: 62px;
            height: 60px;
        }
    }
    &__nav {
        width: 100%;
        &__btn {
            display: flex;
        }
    }
}

li {
    color: grey;
    list-style: none;
}

.btn_albums-publics,
.btn_add-album {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    font-weight: 600;
}
.btn_add-album {
    background-color: #0069ff;
    color: white;
}
.btn_add-album:hover {
    background-color: rgb(15, 15, 174);
    color: white;
    transition: 0.5s;
}
.btn_add-album:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.btn_albums-publics:hover {
    background-color: #000000;
    color: white;
    transition: 0.5s;
}
