@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.card {
    box-sizing: border-box;
    overflow: hidden;
    width: 300px;
    height: 445px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    border-bottom: #f5f5f5 2px solid;
    &__img {
        width: 100%;
        height: auto;
    }
    &__informations {
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: grey;
    }
}
